@using Microsoft.AspNetCore.Authentication
@{
    <h2>Claims</h2>
    foreach (var c in User.Claims)
    {
        <p><b>@c.Type</b></p>
        <p>@c.Value</p>
    }

    <h2>Properties</h2>

    <dl>
        @foreach (var prop in (await Context.AuthenticateAsync()).Properties.Items)
        {
            <dt>@prop.Key</dt>
            <dd>@prop.Value</dd>
        }
    </dl>
}