@model List<ListProductHomeResponse>
@{
    if (Model.Count > 0)
    {
        foreach (var p in Model)
        {
            <!-- Recently Viewed Item -->
            <div class="owl-item">
                <div class="viewed_item discount d-flex flex-column align-items-center justify-content-center text-center">
                    <p>@p.CategoryName</p>
                    <div class="viewed_image"><img src=@p.ImagePath alt=""></div>
                    <div class="bestsellers_rating">
                        @{
                            if (p.StarScore > 0)
                            {
                                for (int i = 0; i < p.StarScore; i++)
                                {
                                    <i class="fa fa-star" style="color:#ffe234"></i>
                                }
                            }
                        }
                    </div>
                    <div class="viewed_content text-center">
                        <div class="viewed_price">@p.RetailPrice.ToString("#,##0") đ</div>
                        <div class="viewed_name"><a href="#">@p.Name</a></div>
                        <p>Thương hiệu: @p.BrandName</p>
                    </div>
                </div>
            </div>
        }
    }
}