<h2>ResetPasswordConfirmation</h2>
<p>
    Mật khẩu của bạn đã được cập nhật. Nhấn vào
    <a asp-action="Login" asp-controller="Account" asp-route-returnUrl="@ViewData["returnUrl"]">
        đây
    </a>.
    để đăng nhập.
</p>