@section Styles
{
     <link rel="stylesheet" type="text/css" href="~/styles/product_styles.css">
     <link rel="stylesheet" type="text/css" href="~/styles/product_responsive.css">
}
<div class="single_product">
    <div class="container">
        <div class="row">
            <h3>Cảm ơn quý khách đã đặt hàng tại Máy tính Quang Anh, nhân viên của cửa hàng sẽ liên hệ lại với quý khách để xác nhận đơn hàng.</h3>
        </div>
    </div>
</div>