<div class="container-fluid text-center align-middle">
    <img src="~/img/403.jpg" alt="" class="img-thumbnail w-75 h-75 mt-3" >    
    <h2 class="text-dark mt-2">Bạn không được quyền truy cập vào trang này</h2>
</div>
